[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyconfig = "*"
responses = "*"
isodate = "*"

[dev-packages]
bump2version = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
sphinx-autodoc-typehints = "*"
autopep8 = "*"
rope = "*"
pydocstyle = "*"
pycodestyle = "*"
mock = "*"
pylint = "*"
setuptools-scm = "*"
Sphinx = "*"

[requires]
python_version = "3.10"
